.site-layout-content{
  padding: 24px;
  display: flex;
  background: #fff;
  margin-bottom: 10px;
  justify-content: space-between;
}
.site-layout-space{
  display: flex;
  justify-content: space-between;
  .site-layout-content{
    flex: 1;
    &:nth-of-type(1){
      flex: 1.8;
      margin-right: 10px;
    }
  }
}
