.loginComponent{ display: flex; align-items: center; justify-content: center; width: 100%}
.loginStyle {
  width: 320px;
  padding: 28px 20px 1px;
  background-color: #fff;
  border-radius: 10px;
  img[alt='logo']{ display: block; margin: 0 auto 10px;}
  h1 {
    text-align: center;
    font-size: 18px;
    color: #007ffe;
    font-weight: 700;
    margin-bottom: 20px
  }

  button[type='submit']{ width: 100%; margin-top: 10px; }
}
