.container {
  padding-top: 130px;
  :global {
    .ant-tabs-nav {
        position: fixed;
        top: 0;
        width: 100%;
        background: #fff;
        z-index: 999;
    }
    .ant-tabs-content-holder .ant-tabs-nav {
      position: fixed;
      top: 57px;
      width: 100%;
      background: #fff;
      z-index: 999;
    }

    .ant-form-item {
      vertical-align: unset;
    }
}
}